.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;
	border-radius: $bord;
	cursor: pointer;
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-bold;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	white-space: nowrap;
	transition: opacity ease $tr,
			background-color ease $tr,
			color ease $tr;

	&.header_button {
		min-width: 135.7px;
		padding: 12px 16px;
		font-size: 12px;
		line-height: 16px;
	}

	&.xs_button {
		min-width: 147px;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.5px;
		padding: 8px 16px;
	}

	&.small_button {
		min-width: 147px;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.5px;
	}

	&.medium_button {
		min-width: 231px;
	}

	&.orange {
		background-color: $accent1;
		color: $white;

		&.hero_button {
			min-width: 229px;

			@media all and (min-width: $lg) {
				min-width: 165px;
			}
		}

		&:disabled {
			opacity: $op;
		}

		&:hover {
			background-color: $accent-hover;
		}

		&:active {
			background-color: $accent-hover-dark;
		}
	}

	&.transparent {
		background-color: transparent;
		border: 2px solid $blackened;
		color: $blackened;

		&:disabled {
			opacity: $op;
		}

		&:hover {
			background-color: $blackened;
			color: $accent1;
		}

		&:active {
			color: $accent-hover-dark;
		}
	}

	&.black {
		background-color: $blackened;
		color: $white;
		border-radius: $bord40;

		&.button_google {
			min-width: 263px;
			padding: 12.5px 16px;
			font-size: 12px;

		@media all and (min-width: $md) {
			min-width: 356px;
			font-size: 16px;
		}

		img {
			margin-right: 8px;
		}
		}

		&:disabled {
			opacity: $op;
		}

		&:hover {
			background-color: $blackened;
			color: $accent1;
		}

		&:active {
			color: $accent-hover-dark;
		}
	}
}

.burger-button {
	cursor: pointer;
	width: 24px;
	height: 24px;
	padding: 8.5px 3px;
	position: relative;
	z-index: 100;

	&:hover span {
		&::after {
			transform: translateX( -5px );
		}
	}

	& span {
		position: absolute;
		left: 0;
		top: 7px;
		display: block;
		width: 100%;
		height: 2px;
		background-color: $black;
		border-radius: 12px;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 7px;
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 12px;
			background-color: $black;
			transition: transform ease $tr;
		}
	}

	@media all and (min-width: $md) {
		display: none;
	}

	&.opened {
		animation:  rot 0.7s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);

		@keyframes rot {
			0% {
				transform: rotate( 0 );
			}

			100% {
				transform: rotate( 360deg);
			}
		}
		span {
			transform: rotate( -45deg );
			top: 10px;
			background: $accent1;
		}

		span::after {
			background: $accent1;
			transform: rotate( 90deg );
			top: 0;
		}
	}
}