.signin {
	background-color: #F6F6F6;

	.wrapper {
		margin-top: 0;
	}

	.header {
		position: static;
		padding: 32px 0;
		background-color: #F6F6F6;

		&-wrapper {
			justify-content: flex-start;
		}

		.container {
			max-width: 1156px;
		}
	}
	
}