.login {
	.signin__hero {
		padding: 34px 0 50px;

		@media all and (min-width: $md) {
			padding: 120px 0 126px;
		}

		h1 {
			margin-bottom: 20px;

			@media all and (min-width: $md) {
				margin-bottom: 25px;
			}
		}
	}
}

.signin__hero {
	padding: 34px 0 50px;

	@media all and (min-width: $md) {
		padding: 86px 0 126px;
	}

	.container {
		max-width: 303px;

		@media all and (min-width: $md) {
			max-width: 412px;
		}
	}

	h1 {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 24px;
		line-height: 32px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;
		text-align: center;
		margin-bottom: 22px;

		@media all and (min-width: $md) {
			font-size: 36px;
			line-height: 44px;
			margin-bottom: 32px;
		}
	}

	&_stripe {
		font-family: $ff-title;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;
		margin-top: 10px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			left: 0;
			top: 50%;
			background-color: $blackened;
		}

		&_wrapper {
			width: 33px;
			display: flex;
			justify-content: center;
			position: relative;
			z-index: 1;
			background-color: #F6F6F6;
			margin: 0 auto;
		}

		@media all and (min-width: $md) {
			margin-top: 16px;
		}
	}

	&_form {
		margin-top: 2px;
		padding: 0 8px;

		fieldset {
			display: flex;
			flex-direction: column;
			border: 0;
			padding: 0;
			margin: 0;

			.input__wrapper {
				position: relative;

				.eye__wrapper {
					position: absolute;
					right: 18px;
					top: 55%;
					transform: translateY( -50% );
					cursor: pointer;
					transition: opacity ease $tr;
					z-index: 10;

					&.clicked {
						&::before {
							content: "";
							position: absolute;
							left: 0;
							top: 35%;
							transform: rotate(-45deg);
							display: block;
							width: 100%;
							height: 3px;
							border-radius: 10px;
							background-color: #C5CACF;
						}
					}

					&:hover {
						opacity: $op;
					}
				}
				.input-img {

					&.off {
						display: none;
					}
				}

				&.first_wrapper {
					.eye__wrapper {
						top: 42%;
					}
				}
			}
		}

		@media all and (min-width: $md) {
			margin-top: 12px;
		}
	}

	&_text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: $ff-title;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 14px;
		line-height: 24px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&_link {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $accent1;
		transition: opacity ease $tr;
		margin-top: 5px;

		@media all and (min-width: $md) {
			margin-left: 8px;
			margin-top: 0;
		}

		&:hover {
			opacity: $op;
		}
	}

	.submit_button {
		margin: 5px 0 5px;

		@media all and (min-width: $md) {
			margin: 13px 0 10px;
		}
	}
}

.forgot__password {
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-bold;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $blackened;
	cursor: pointer;
	transition: opacity ease $tr;
	margin: 12px 0 5px;
	text-align: center;
	width: 100%;

	&:hover {
		opacity: $op;
	}
}

.recovery__text {
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-regular;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $blackened;
	margin-bottom: 27px;
}

.recovery__email {
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $blackened;
}

label {
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-regular;
	font-size: 12px;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #707070;
	margin-bottom: 4px;
}

.signin__input {
	width: 100%;
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-regular;
	font-size: 14px;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #707070;
	padding: 11px 16px;
	border: 1px solid #C5CACF;
	border-radius: 24px;
	background-color: $white;
	margin-bottom: 6px;
	position: relative;

	&.last_input {
		margin-bottom: 0;
	}

	&.input_margin {
		margin-bottom: 15px;

		.input-img {
			top: 10%;
		}
	}

	@media all and (min-width: $md) {
		margin-bottom: 15px;
	}

	&::placeholder {
		font-family: $ff-title;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 14px;
		line-height: 24px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #707070;
		opacity: 1;
	}
}

.error {
	.signin__input {
		margin-bottom: 4px;
		border: 1px solid #F02215;
	
	}

	&__text {
		font-family: $ff-title;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 16px;
		display: flex;
		align-items: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #F02215;
		padding-left: 18px;
	}
}