.signup {
	.signin__hero {
		padding: 34px 0 50px;
	
		@media all and (min-width: $md) {
			padding: 148px 0 126px;
		}

		.signin__input {
			margin-bottom: 3px;
		}
	}

	.container {
		max-width: 372px;
	}

	.button_google {
		min-width: 263px;
		padding: 12.5px 16px;
		font-size: 12px;

		@media all and (min-width: $md) {
			min-width: 356px;
			font-size: 16px;
		}

		img {
			margin-right: 8px;
		}
	}

	.button.orange {
		min-width: 263px;
		font-size: 12px;

		@media all and (min-width: $md) {
			min-width: 356px;
			font-size: 16px;
		}
	}
}