.aside {
	width: 320px;
	height: 696px;
	padding: 0 40px;
	margin-right: 42px;

	form {
		height: 100%;
	}
	
	fieldset {
		height: 100%;
		display: flex;
		flex-direction: column;
		border: 0;
		padding: 0;
		margin: 0;
		padding-bottom: 40px;
	}

	&__title {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 20px;
		line-height: 28px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;
		margin-bottom: 16px;

		&.post__title {
			margin-bottom: 4px;
		}
	}

	textarea {
		height: 48px;
		max-height: 72px;
		width: 100%;
		max-width: 240px;
		margin: 0;
		margin-bottom: 16px;
		overflow: hidden;
		resize: none;
	}

	.range__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.range__item {
		display: flex;

		input {
			width: 100%;
			max-width: 72px;
			margin-bottom: 0;
			margin-right: 16px;

			&:last-child {
				margin-right: 0;
			}
		}

		.range__input {
			width: 100%;
			max-width: 152px;
			appearance: none;
			outline: none;
			overflow: hidden;
			background-color: #f6f6f6;
		}
	}

	.range__button_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: auto;
	}

	.hero_button {
		white-space: nowrap;
		margin-bottom: 40px;
		max-width: 240px;
		padding: 16px 26px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		max-width: 240px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		.signin__input {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		padding: 11px 16px;

		input {
			margin-right: 10px;
		}

		&_text {
			font-family: $ff-title;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 14px;
			line-height: 24px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;
			margin-right: auto;
		}

		&_size {
			font-family: $ff-title;
			font-style: normal;
			font-weight: $fw-bold;
			font-size: 12px;
			line-height: 16px;
			text-align: right;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;
		}
	}
}

.tries {
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $blackened;
	margin-bottom: 8px;
	text-align: center;
}