.hero__order {
	padding-top: 74px;

	h1 {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 36px;
		line-height: 44px;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;
		margin-bottom: 24px;
	}

	.container {
		max-width: 585px;
	}

	&_total, legend {
		display: flex;
		justify-content: space-between;
		font-family: 'Syne';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #222222;
		margin-bottom: 24px;
	}

	&_form {
		fieldset {
			border: 0;
			padding: 0;
			margin: 0;
		}

		legend {
			font-family: $ff-title;
			font-weight: $fw-regular;
			margin-bottom: 10px;
		}
	}

	.card__info {
		display: flex;
		margin-bottom: 10px;

		.signin__input {
			margin-bottom: 0;
		}
	}

	.card__input {
		margin-right: 16px;
		position: relative;

		.visa-small {
			position: absolute;
			right: 20px;
			top: 60%;
		}

		.info__wrapper {
			position: absolute;
			right: 14px;
			top: 54%;
			cursor: pointer;

			&:hover {
				.info__prompt {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&:first-child {
			width: 100%;
			max-width: 274px;
		}

		&:nth-child(2) {
			width: 100%;
			max-width: 120px;
		}

		&:last-child {
			width: 100%;
			max-width: 120px;
			margin-right: 0;
		}

		&.cardholder {
			width: 100%;
			max-width: 100%;
		}
	}

	.card__buttons {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid $blackened;
		padding-bottom: 18px;
	}

	.card__images {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;

		picture {
			margin-right: 25px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.info__prompt {
	position: absolute;
	right: -15px;
	bottom: -75px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 16px;
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-regular;
	font-size: 12px;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $blackened;
	width: 180px;
	height: 48px;
	border-radius: 16px;
	background-color: #C5CACF;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: opacity ease $tr,
			visibility ease $tr;

	&::after {
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		background-color: inherit;
		position: absolute;
		right: 18px;
		top: -6px;
		transform: rotate( 45deg);
	}
}
