.post {
	background-color: #F6F6F6;

	.container {
		max-width: 1310px;
	}

	&__zone {
		display: flex;
		width: 100%;
		justify-content: space-between;

		@media all and (min-width: $lg) {
			width: calc( 100% - 320px );
		}

		@media all and (min-width: $xl) {
			padding-left: 40px;
		}

		.dropdown__title {
			padding-right: 7px;
			margin-bottom: 0;
			transition: margin ease $tr;
		}

		.post__dropdown.opened {
			.dropdown__title {
				margin-bottom: 16px;
			}
		}
	}

	&__hero {
		padding-bottom: 220px;

		@media all and (min-width: $lg) {
			padding-bottom: 0;
		}
	}

	.wrapper {
		margin-top: 0;

		@media all and (min-width: $lg) {
			margin-top: 0;
		}
	}

	.header {
		background-color: #F6F6F6;
		padding: 25px 0;
		position: static;
		z-index: 0;

		&.scrolled {
			box-shadow: none;
		}

		@media all and (min-width: $lg) {
			padding: 30px 0;
			
		}

		&-wrapper {
			justify-content: space-between;

			@media all and (min-width: $lg) {
				justify-content: flex-start;
			}
		}

		.container {
			max-width: 1230px;
		}

		&__hero {
			height: 696px;
		}

		.post_button {
			display: block;
			padding: 6px 14px;

			@media all and (min-width: $lg) {
				padding: 10px 14px;
			}
		}
	}

	.image__items_wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__hero_wrapper {
		display: flex;
		justify-content: center;

		@media all and (min-width: $lg) {
			justify-content: space-between;
			padding-top: 5px;
		}

		@media all and (min-width: $xxl) {
			justify-content: flex-start;
		}
	}

	.order__button {
		display: flex;

		@media all and (min-width: $lg) {
			position: absolute;
			bottom: 40px;
		}
	}

	.order__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;

		@media all and (min-width: $lg) {
			padding-right: 30px;
		}
	}

	.fields__wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;

		&.images_wrapper {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		@media all and (min-width: $lg) {
			width: 70%;
		}

		@media all and (min-width: $xxl) {
			width: 63%;
		}

		&.second_wrapper {
			display: flex;
			flex-direction: column;
			
		}
	}

	.fields__render {
		width: 100%;
		border-top: 2px solid $blackened;
		padding-top: 8px;
		margin-bottom: 16px;

		&_text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			font-family: $ff-title;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 14px;
			line-height: 24px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;
			padding-right: 10px;

			@media all and (min-width: $lg) {
				flex-direction: row;
			}

			span {
				color: #707070;
				margin-top: 8px;

				@media all and (min-width: $lg) {
					margin-top: 0;
				}
			}
		}
	}

	.post__dropdown_wrapper {
		display: block;
		width: 100%;
		padding: 24px;
		position: fixed;
		z-index: 99;
		bottom: 0;
		left: 0;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
		background-color: #F6F6F6;

		.dropdown__open {
			margin-bottom: 16px;
		}

		@media all and (min-width: $lg) {
			display: none;
		}
	}
}

.field.field_items {
	height: auto;

	@media all and (min-width: $lg) {
		height: 614px;
	}
}

.field_items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
	overflow-y: auto;
	height: 575px;
	scrollbar-width: thin;
	scrollbar-color: #F04A15 #C5CACF;

	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-track {
		background: #C5CACF;
	}

	&::-webkit-scrollbar-thumb {
		background-color:  #F04A15;
		border-radius: 20px;
		border: 4px solid  #F04A15;
	}

	&.image__items {
		@media all and (min-width: $sm) {
			width: 380px;
		}

		@media all and (min-width: 576px) {
			width: 100%
		}
	}

	&.images_items {
		width: 100%;

		.field__item {
			picture {
				width: 100%;
				height: 100%;

				@media all and (min-width: $xl) {
					width: auto;
					height: auto;
				}

				.post__image {
					width: 100%;
					height: 100%;
					object-fit: cover;

					@media all and (min-width: $xl) {
						width: 185px;
						height: 185px;
					}
				}
			}
		}
	}
}

.field__item {
	display: flex;
	width: calc(100% / 2);
	padding: 0 4px;
	position: relative;
	margin-bottom: 10px;

	@media all and (min-width: 576px) {
		width: calc(100% / 3);
	}

	.field__checkbox {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
		border: 2px solid $blackened;
		border-radius: 6px;
		background-color: $white;
	}
}

.post.loading {
	.field {
		border: 0;
	}
}

.tab__content {
	display: none;
	opacity: 0;

	&.active {
		display: block;
		animation: open 1s ease forwards;

		@keyframes open {
			0% {
				display: block;
				opacity: 0;
			}

			100% {
				display: block;
				opacity: 1;
			}
		}
	}
}

#eXeB8WRTGK11 {
	width: 100%;
	max-width: 420px;
	height: 70px;
	animation: svg 2s linear infinite normal forwards;

	@keyframes svg { 
			0% {
				stroke-dashoffset: 1338;
			}

			100% {
				stroke-dashoffset: 238;
			}
		}
}

.header__breadcrumbs {
	&.desktop_breadcrumbs {
		display: none;

		@media all and (min-width: $lg) {
			display: flex;
		}
	}

	&.mobile_breadcrumbs {
		display: flex;
		justify-content: center;
		margin-top: 24px;

		@media all and (min-width: $lg) {
			display: none;
		}
	}

	@media all and (min-width: $lg) {
		margin-left: 22%;
		margin-right: auto;
	}

	ul {
		display: flex;
	}

	.tab__button {
		position: relative;
		margin-right: 24px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}

		&:first-child::after,
		&:nth-child(2)::after {
			content: "";
			position: absolute;
			right: -10px;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			width: 4px;
			height: 4px;
			border-right: 1px solid $blackened;
			border-top: 1px solid $blackened;
			transform: rotate(45deg);
			transition: border-color ease $tr;
		}

		&.active {
			div {
				color: $accent1;
			}
			

			&::after {
				border-color: $accent1;
			}
		}
	}

	div {
		font-family: $ff-title;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;
		transition: color ease $tr;

		@media all and (min-width: $md) {
			font-size: 14px;
			line-height: 24px;
		}
	}
}

.post__loading {
	padding-top: 40px;
}