.post {
	background-color: #F6F6F6;

	.header {
		background-color: #F6F6F6;
		padding: 30px 0;

		&-wrapper {
			justify-content: flex-start;
		}

		.container {
			max-width: 1230px;
		}

		&__breadcrumbs {
			margin-left: 22%;
			margin-right: auto;

			ul {
				display: flex;
			}

			li {
				position: relative;
				margin-right: 24px;

				&:last-child {
					margin-right: 0;
				}

				&:first-child::after, &:nth-child(2)::after  {
					content: "";
					position: absolute;
					right: -10px;
					top: 50%;
					transform: translateY( -50% );
					display: block;
					width: 4px;
					height: 4px;
					border-right: 1px solid $blackened;
					border-top: 1px solid $blackened;
					transform: rotate(45deg);
					transition: border-color ease $tr;
				}

				&:hover {
					a {
						color: $accent1;
					}

					&::after {
						border-color: $accent1;
					}
				}
			}

			a {
				font-family: $ff-title;
				font-style: normal;
				font-weight: $fw-regular;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $blackened;
				transition: color ease $tr;
			}
		}
	}
}