.post {
	background-color: #F6F6F6;

	.wrapper {
		margin-top: 0;
	}

	.header {
		background-color: #F6F6F6;
		padding: 30px 0;
		position: static;

		&-wrapper {
			justify-content: flex-start;
		}

		.container {
			max-width: 1230px;
		}

		&__hero {
			height: 696px;
		}

		&__breadcrumbs {
			margin-left: 22%;
			margin-right: auto;

			ul {
				display: flex;
			}

			li {
				position: relative;
				margin-right: 24px;

				&:last-child {
					margin-right: 0;
				}

				&:first-child::after, &:nth-child(2)::after  {
					content: "";
					position: absolute;
					right: -10px;
					top: 50%;
					transform: translateY( -50% );
					display: block;
					width: 4px;
					height: 4px;
					border-right: 1px solid $blackened;
					border-top: 1px solid $blackened;
					transform: rotate(45deg);
					transition: border-color ease $tr;
				}

				&:hover {
					a {
						color: $accent1;
					}

					&::after {
						border-color: $accent1;
					}
				}
			}

			a {
				font-family: $ff-title;
				font-style: normal;
				font-weight: $fw-regular;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $blackened;
				transition: color ease $tr;
			}
		}
	}

	&__hero_wrapper {
		display: flex;
	}

	&__hero {
		height: 696px;
	}

	.order__button {
		display: flex;
	}

	.order__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.fields__render {
		border-top: 2px solid $blackened;
		padding-top: 8px;
		margin-bottom: 16px;

		&_text {
			display: flex;
			justify-content: space-between;
			font-family: $ff-title;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 14px;
			line-height: 24px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;

			span {
				color: #707070;
			}
		}
	}
}

.field_items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
}

.field__item {
	display: flex;
	width: calc( 100% / 3 );
	padding: 0 4px;
	position: relative;
	margin-bottom: 10px;

	.field__checkbox {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

.post.loading {
	.field {
		border: 0;
	}
}