.content {
	padding: 60px 0;
	background-color: $white;

	@media all and (min-width: $lg) {
		padding: 120px 0;
	}

	h2 {
		color: $blackened;
		margin-bottom: 24px;
	}

	&__img_inner {
		position: relative;
		width: 312px;
		height: 312px;

		@media all and (min-width: 576px) {
			width: 200px;
			height: 200px;
		}

		@media all and (min-width: $xl) {
			width: 626px;
			height: 626px;
		}
	}

	&__img_wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		position: static;
		background-color: #f6f6f6;

		@media all and (min-width: $xl) {
			width: auto;
			justify-content: flex-start;
			background-color: transparent;
		}

		.img__fixed_mobile {
			width: 312px;
			height: 312px;
			transition: opacity ease 1s;
			position: absolute;
			left: 0;

			@media all and (min-width: 576px) {
				width: 200px;
				height: 200px;
			}

			@media all and (min-width: $xl) {
				width: 626px;
				height: 626px;
			}

			&.hidden {
				transition: opacity ease 1s;
				opacity: 0;
			}
		}
	}

	&__img {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		position: relative;

		@media all and (min-width: $xl) {
			width: 59%;
		}
	}

	&__texts {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media all and (min-width: $xl) {
			width: 41%;
			padding-top: 220px;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $xl) {
			flex-direction: row;
			justify-content: flex-end;
		}

		&.scrolled {
			.content__img_wrapper {
				position: fixed;
				top: 60px;
				left: 0;

				@media all and (min-width: $xl) {
					left: auto;
				}
			}

			.content__img {
				padding-top: 350px;

				@media all and (min-width: 400px) {
					padding-top: 418px;
				}

				@media all and (min-width: $sm) {
					padding-top: 448px;
				}

				@media all and (min-width: 576px) {
					padding-top: 240px;
				}

				@media all and (min-width: $xl) {
					padding-top: 0;
				}
			}
		}
	}

	&__item {
		margin-bottom: 40px;
		width: 100%;

		@media all and (min-width: $xxl) {
			margin-bottom: 434px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&_inner {
			display: flex;
			flex-direction: column;
			align-items: center;

			@media all and (min-width: $lg) {
				flex-direction: row;
			}
		}

		&_num {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-bold;
			font-size: 36px;
			line-height: 44px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;
			margin-bottom: 5px;

			@media all and (min-width: $lg) {
				margin-bottom: 0;
			}
		}

		&_title {
			display: flex;
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-bold;
			font-size: 16px;
			line-height: 24px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;
			margin-bottom: 15px;

			@media all and (min-width: $lg) {
				margin-bottom: 24px;
			}
		}

		&_text {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-bold;
			font-size: 24px;
			line-height: 32px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;

			span {
				color: $accent1;
			}

			@media all and (min-width: $lg) {
				font-size: 36px;
				line-height: 44px;
			}
		}
	}
}