.experiment {
	background-color: $blackened;
	padding: 120px 0;

	.container {
		padding: 0;

		@media all and (min-width: $md) {
			padding: 0 20px;
		}
	}

	&__img {
		margin-bottom: 16px;
	}

	&__items {
		display: flex;
		justify-content: space-between;

		&.experiment__desktop {
			display: none;
			@media all and (min-width: $md) {
				display: flex;
			}
		}
	}

	&__item {
		&.item_margin {
			margin-right: 25px;
		}

		&.second_item {
			width: 100%;
			max-width: 192px;
		}

		&.last_item {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			max-width: 192px;
			margin-bottom: 90px;
		}

		&_wrapper {
			display: flex;

			&:last-child {
				flex-direction: column;
			}

			&.first_wrapper {
				margin-bottom: 112px;
			}

			&.second_wrapper {
				width: 100%;
				max-width: 409px;
				flex-direction: row;
			}

			&.last_wrapper {
				align-items: flex-end;
			}
		}
	}

	&__col {
		display: flex;
		flex-wrap: wrap;

		&:first-child {
			width: 40%;
		}

		&:nth-child(2) {
			width: 34%;
			align-items: flex-end;
			padding-bottom: 40px;
		}

		&:last-child {
			width: 23%;
		}
	}
}

.experiment__title {
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-bold;
	font-size: 16px;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $white;
	margin-bottom: 40px;
}

.desc__text {
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-regular;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #C5CACF;

	&::after {
		content: url( '../img/experiment/ico.png' );
		margin-top: 5px;
		transition: opacity ease $tr;
	}
}

.experiment__items_mobile {
	display: block;

	.container {
		padding: 0 0 0 20px;
	}

	@media all and (min-width: $md) {
		display: none;
	}

	.experiment__img {
		width: 160px;
		height: 160px;

		img {
			object-fit: cover;
		}
	}
}

.experiment__texts {
	margin-top: 90px;

	.text__item_info {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 16px;
		line-height: 24px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $white;
		margin-top: 16px;
		max-width: 219px;
		height: 199px;
		overflow: hidden;

		@media all and (min-width: $lg) {
			max-width: 342px;
			height: 216px;
		}
	}

	.swiper-wrapper {
		padding: 0 20px;

		@media all and (min-width: $lg) {
			padding: 0;
		}
	}

	.swiper-slide {
		width: 280px;
		height: 327px;
		border: 2px solid #FFFFFF;
		border-radius: 48px;
		padding: 24px;
		cursor: pointer;

		&:hover {
			.desc__text::after {
				opacity: $op;
			}
		}

		&.swiper-slide-active {
			width: 280px;
		}

		@media all and (min-width: $md) {
			width: 420px;
			height: 344px;
			padding: 32px;
		}
	}
}