.header {
	padding: 24px 0;
	background-color: $accent2;

	@media all and (min-width: $lg) {
		padding: 52px 0;
	}

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-logo {
		display: none;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}

		@media all and (min-width: $xl) {
			display: block;
		}

		&_mobile {
			display: block;

			@media all and (min-width: $xl) {
				display: none;
			}
		}
	}

	&-nav {
		display: none;

		&__item {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-bold;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;
			margin-right: 40px;
			transition: color ease $tr;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $accent1;
			}
		}

		@media all and (min-width: $lg) {
			display: flex;
		}
	}
}