.dashboard__settings {
	padding-bottom: 32px;

	h2 {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 24px;
		line-height: 32px;
		text-align: left;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;
		margin-bottom: 23px;

		@media all and (min-width: $lg) {
			font-size: 36px;
			line-height: 44px;
			margin-bottom: 48px;
		}
	}

	&_title {
		width: 100%;
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 20px;
		line-height: 28px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $blackened;
		margin-bottom: 8px;
		text-align: left;

		@media all and (min-width: $lg) {
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 10px;
		}
	}

	&_desc {
		font-family: $ff-title;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 14px;
		line-height: 24px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #707070;
		margin-bottom: 25px;

		@media all and (min-width: $lg) {
			margin-bottom: 43px;
		}
	}

	form {
		width: 100%;

		fieldset {
			border: 0;
			padding: 0;
		}
	}

	&_items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media all and (min-width: $lg) {
			flex-direction: row;
			align-items: flex-end;
			justify-content: flex-start;
			max-height: 172px;
		}
	}

	&_item {
		display: flex;
		flex-direction: column;
		margin-bottom: 32px;
		align-items: center;

		&:last-child {
			margin-bottom: 0;
		}

		@media all and (min-width: $lg) {
			max-width: 261px;
			align-items: flex-start;
			margin-right: 120px;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.signin-button {
		padding: 16px 117px;
		width: 100%;
		max-width: 312px;
		white-space: nowrap;

		@media all and (min-width: $lg) {
			max-width: 261px;
			padding: 16px 32px;
		}
	}
}