.dashboard, .dashboard-full, .dashboard-help {
	.header {
		background-color: #F6F6F6;
		padding: 24px 0;
		position: relative;

		@media all and (min-width: $md) {
			position: static;
		}

		@media all and (min-width: $lg) {
			padding: 33px 0;
		}

		.container {
			max-width: 1150px;
		}

		&__account {
			display: flex;
			align-items: center;
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-bold;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			text-align: center;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $blackened;

			&_help {
				margin-right: 40px;
				cursor: pointer;
			}

			&_post {
				display: block;
				cursor: pointer;

				@media all and (min-width: $md) {
					display: block;
				}

				&.mobile_post {
					display: block;

					@media all and (min-width: $md) {
						display: none;
					}
				}

				&.desktop_post {
					display: none;

					@media all and (min-width: $md) {
						display: flex;
						align-items: center;
					}
				}
			}

			&_menu_item {
				font-family: $ff-title;
				font-style: normal;
				font-weight: $fw-regular;
				font-size: 16px;
				line-height: 24px;
				text-align: left;
				letter-spacing: 0.01em;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $blackened;
				margin-bottom: 8px;
				cursor: pointer;
				transition: color ease $tr;
				text-transform: none;

				&:hover {
					color: $accent1;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			&_email {
				display: flex;
				align-items: center;

				@media all and (min-width: $md) {
					position: relative;
				}

				&_img {
					display: block;
					cursor: pointer;

					@media all and (min-width: $md) {
						display: none;
					}
				}

				&.opened {
					.header__account_email_menu {
						display: flex;
						animation: fade 1s ease forwards;

						@keyframes fade {
							0% {
								opacity: 0;
							}

							100% {
								opacity: 1;
							}
						}
					}

					.header__account_arrow {
						transform: rotate( 180deg);
					}
				}

				&_menu {
					display: none;
					width: 100%;
					position: absolute;
					top: 80px;
					left: 0;
					flex-direction: column;
					align-items: flex-start;
					border-top: 2px solid $blackened;
					background-color: #F6F6F6;
					box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
					padding: 24px 0 24px 32px;

					@media all and (min-width: $md) {
						top: 28px;
						left: 0;
					}
				}
			}

			&_arrow {
				transition: transform ease $tr;
				margin-left: 14px;
			}
		}


	}
}