.dashboard {
		background-color: #F6F6F6;

		.wrapper {
			margin-top: 0;
		}

		&__hero {
			padding-top: 32px;

			.container {
				max-width: 1150px;
			}

			h1 {
				font-family: $ff;
				font-style: normal;
				font-weight: $fw-bold;
				font-size: 36px;
				line-height: 44px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				margin-bottom: 40px;
			}

			&_wrapper {
				display: flex;
			}

			&_inner {
				max-width: 356px;
			}

			&_no-post {
				font-family: $ff;
				font-style: normal;
				font-weight: $fw-bold;
				font-size: 20px;
				line-height: 28px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $blackened;
				margin-bottom: 24px;
			}

			&_subtext {
				font-family: $ff-title;
				font-style: normal;
				font-weight: $fw-regular;
				font-size: 14px;
				line-height: 24px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: #707070;
				margin-bottom: 24px;
			}

			&_img {
				height: 100%;
				width: calc( 100% - 356px);
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				padding-top: 134px;
			}
		}
}